    <footer>

    			<div class="row"><span class="copyright">
    				<div class="col-md-3">
                Tel. <a href="tel:+393703114809"><span itemprop="telephone">+39 370 3114809</span></a></li><br>
                Fax <span itemprop="faxNumber">+39 011 5830119</span>&nbsp; -&nbsp;</li>
            </div>
            <div class="col-md-3"
            	e-mail: <a href="mailto:info@cooperativares.it"> <span itemprop="email">info@cooperativares.it</span></a> &nbsp;<br>
							PEC: <a href="mailto:coopres@pec.confcooperative.it">coopres@pec.confcooperative.it</a>
            </div>
					<div class="col-md-6">
                    	<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    	<span itemprop="streetAddress">via delle ginestre, 1</span>
                    	<span itemprop="postalCode">10073</span>
                    	<span itemprop="addressLocality">CIRIE'</span>
                    	<span itemprop="addressRegion">(TO)</span>
                    	<meta itemprop="addressCountry" content="IT"></span>
              C.F. e P. IVA: 05845550010
					</div></span>
      		</div>
          <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
